body {
    /*background: rgba(90, 84, 84, .7);*/
    background-image: url(../Images/desert.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 15px;
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4. h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #ea7527;
    font-size: 40px;
    text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.7);
}

h2 {
    color: #ea7527;
    font-size: 30px;
    text-align: center;
    text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.7);
}

h3 {
    color: #ea7527;
    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.5);
}

section {
    margin-top: 20px;
    padding-top: 60px;
    padding-bottom: 10px;
    background-color: rgba(90, 84, 84, 0.6);
    border-radius: 50px 50px 50px 50px;
}
