#board {
    margin: 2% auto;
}

.round-button img {
    height: 20px;
    width: 100%;
}

.cell {
    /*width: 150px;*/
    height: 30px;
}

.imgBtn {
    height: 30px;
    transition: transform 0.2s;
}

.imgBtn:active {
    /*height: 53px;*/
    transform: scale(1.2);
}
