body{
	background: darkgrey;
}

/*Contador*/
#myProgress {
    background-color: white;
}
#myBar {
    width: 1%;
    height: 29px;
    background-color: rgb(201, 22, 206);
}

#rounds{
	text-align: center;
}

#success{
	text-align: center;
}

#board{
	margin:2% auto;
}

.round-button{
	font-size: 15px;
	border: red;	
	border-radius: 50%;
	font-color: white;
}
